@tailwind base;
@tailwind components;
@tailwind utilities;

.arpg-very-light-background {
  @apply bg-gray-50;
}

:host {
  --tw-bg-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity));
}

html, body {
  margin: 0;
  padding: 0;
}
